<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroCliente">
        <mat-expansion-panel-header>
          <mat-panel-title>Lista de Cliente</mat-panel-title>
          <mat-panel-description>Edição e Exclusão</mat-panel-description>
          <button mat-icon-button>
            <mat-icon (click)="updateNewCliente()">add_circle_outline</mat-icon>
          </button>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table #table [dataSource]="dataSourceCliente" matSort class="table-striped">
              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Delete"
                      (click)="deleteConfirmationCliente(element.idCliente)">
                      delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="edit" (click)="updateCliente(element.idCliente)">edit
                    </mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nmCliente}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="cnh">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CNH </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cnh}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="endereco">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.endereco}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="telefone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsCliente"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsCliente;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvar()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroCliente">
        <mat-expansion-panel-header>
          <mat-panel-title>Lista de Marca</mat-panel-title>
          <mat-panel-description>Edição e Exclusão</mat-panel-description>
          <button mat-icon-button>
            <mat-icon (click)="updateNewMarca()">add_circle_outline</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table #table [dataSource]="dataSourceMarca" matSort class="table-striped">
              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Delete"
                      (click)="deleteConfirmationMarca(element.idMarca)">
                      delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="edit" (click)="updateMarca(element.idMarca)">edit
                    </mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="idMarca">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idMarca}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dsMarca}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsMarca"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsMarca;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvar()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroCliente">
        <mat-expansion-panel-header>
          <mat-panel-title>Lista de Modelo</mat-panel-title>
          <mat-panel-description>Edição e Exclusão</mat-panel-description>
          <button mat-icon-button>
            <mat-icon (click)="updateNewModelo()">add_circle_outline</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table #table [dataSource]="dataSourceModelo" matSort class="table-striped">
              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Delete"
                      (click)="deleteConfirmationModelo(element.idModelo)">
                      delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="edit" (click)="updateModelo(element.idModelo)">edit
                    </mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="idModelo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idModelo}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dsModelo}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsModelo"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsModelo;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvar()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroVeiculo">
        <mat-expansion-panel-header>
          <mat-panel-title>Lista de Veiculo</mat-panel-title>
          <mat-panel-description>Edição e Exclusão</mat-panel-description>
          <button mat-icon-button>
            <mat-icon (click)="updateNewVeiculo()">add_circle_outline</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table #table [dataSource]="dataSourceVeiculo" matSort class="table-striped">
              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Delete"
                      (click)="deleteConfirmationVeiculo(element.idVeiculo)">
                      delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="edit" (click)="updateVeiculo(element.idVeiculo)">edit
                    </mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="idVeiculo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idVeiculo}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dsVeiculo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.corVeiculo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="placa">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Placa </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.placaVeiculo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ano">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ano </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.anoVeiculo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="precoVeiculo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Preço </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.precoVeiculo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="alugado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Alugado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.alugado}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsVeiculo"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsVeiculo;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvar()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>



<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelLocadora">
        <mat-expansion-panel-header>
          <mat-panel-title></mat-panel-title>
          <mat-panel-description>ALUGAR VEICULO</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="number" placeholder="Código" [(ngModel)]="locacaoModel.idLocacao" required />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="number" placeholder="Veiculo" [(ngModel)]="locacaoModel.idVeiculo" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="number" placeholder="Cliente" [(ngModel)]="locacaoModel.idCliente" required />
              </mat-form-field>
            </div>
          </div>
        
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="date" placeholder="Data de Locação" [(ngModel)]="locacaoModel.dtLocacao" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="date" placeholder="Data de Devolução" [(ngModel)]="locacaoModel.dtDevolucao" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Pagamento" [(ngModel)]="locacaoModel.pagamento" required />
              </mat-form-field>
            </div>
          </div>
          <!--
          <div class="col s12 m4 l4">
            <mat-form-field>
              <mat-select placeholder="Modelo" [(ngModel)]="veiculoModel.idModelo">
                <mat-option *ngFor="let modelo of this.modeloList" [value]="modelo.idModelo">
                  {{modelo.idModelo + " - " + modelo.dsModelo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          -->
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarLocacao()">Salvar</button>
          </div>
        </div>
        

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table #table [dataSource]="dataSourceLocacao" matSort class="table-striped">
              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Delete"
                      (click)="deleteConfirmationLocacao(element.idLocacao)">
                      delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="edit" (click)="update(element)">edit
                    </mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="idLocacao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idLocacao}} </mat-cell>>
              </ng-container>
              <ng-container matColumnDef="veiculo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Veiculo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idVeiculo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cliente">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idCliente}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dtLocacao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Locação </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dtLocacao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dtDevolucao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Devolução </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dtDevolucao}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="pagamento">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pagamento}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsLocacao"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsLocacao;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarLocacao()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>