<div class="row">
  <div class="col s12 m2 l2">
    <mat-form-field>
      <input matInput type="number" placeholder="Código" [(ngModel)]="modeloModel.idModelo" required />
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col s12 m2 l2">
      <mat-form-field>
        <input matInput type="text" placeholder="Descrição" [(ngModel)]="modeloModel.dsModelo" required />
      </mat-form-field>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <mat-form-field>
      <mat-select placeholder="Marca" [(ngModel)]="modeloModel.idMarca" (SelectionChange)="atualizarMarcaSelect()">
        <mat-option *ngFor="let marca of this.marcaList" [value]="marca.idMarca">
          {{marca.idMarca + " - " + marca.dsMarca}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row footer-btn">
  <div class="button-row col s12">
    <button mat-raised-button color="green" (click)="salvarModelo()">Salvar</button>
    <button mat-raised-button (click)="voltar()" >Voltar</button>   
  </div>
</div>
