<div class="titulo">
  <h3>
    Calcula Frete
  </h3>
</div>
<div class="row">
  <!--PARA TER UM ESPAÇO ENTRE OS EXPANSION-PANEL-->
  <div class="col s12 m12 l12"></div>
</div>


<!--CLIENTE-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroCliente">
        <!--ESTADO-->
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Cliente</mat-panel-title>
          <mat-panel-description>Cliente</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="number" placeholder="Código" [(ngModel)]="clienteModel.idcliente" required />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Nome" [(ngModel)]="clienteModel.nmcliente" required />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            <mat-form-field>
              <input matInput type="text" placeholder="CNH" [(ngModel)]="clienteModel.cnh" required />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            <mat-form-field>
              <input matInput type="text" placeholder="Endereço" [(ngModel)]="clienteModel.endereco" required />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            <mat-form-field>
              <input matInput type="text" placeholder="Telefone" [(ngModel)]="clienteModel.telefone" required />
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <!--BOTÃO SALVAR ESTADO-->
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarCliente()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!--MARCA-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroMarca">
        <!--ESTADO-->
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Marca</mat-panel-title>
          <mat-panel-description>Marca</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="number" placeholder="Código" [(ngModel)]="marcaModel.idMarca" required />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Descrição" [(ngModel)]="marcaModel.dsMarca" required />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row footer-btn">
          <!--BOTÃO SALVAR ESTADO-->
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarMarca()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!--MARCA-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroModelo">
        <!--ESTADO-->
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Modelo</mat-panel-title>
          <mat-panel-description>Modelo</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="number" placeholder="Código" [(ngModel)]="modeloModel.idModelo" required />
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Descrição" [(ngModel)]="modeloModel.dsModelo" required />
              </mat-form-field>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <mat-form-field>
              <mat-select placeholder="Marca" [(ngModel)]="modeloModel.idMarca" (SelectionChange)="atualizarMarcaSelect()">
                <mat-option *ngFor="let marca of this.marcaList" [value]="marca.idMarca">
                  {{marca.idMarca + " - " + marca.dsMarca}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="row footer-btn">
          <!--BOTÃO SALVAR ESTADO-->
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarModelo()">Salvar</button>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>



<!--Veiculo-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroModelo">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Veiculo</mat-panel-title>
          <mat-panel-description>Veiculo</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="number" placeholder="Código" [(ngModel)]="veiculoModel.idVeiculo" required />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Detalhes" [(ngModel)]="veiculoModel.dsVeiculo" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Cor" [(ngModel)]="veiculoModel.corVeiculo" required />
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Placa" [(ngModel)]="veiculoModel.placaVeiculo" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="number" placeholder="Ano" [(ngModel)]="veiculoModel.anoVeiculo" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="number" placeholder="Preço" [(ngModel)]="veiculoModel.precoVeiculo" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="Alugado?" [(ngModel)]="veiculoModel.alugado" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <mat-form-field>
              <mat-select placeholder="Modelo" [(ngModel)]="veiculoModel.idModelo">
                <mat-option *ngFor="let modelo of this.modeloList" [value]="modelo.idModelo">
                  {{modelo.idModelo + " - " + modelo.dsModelo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

            
        </div>
        <div class="row footer-btn">
          <!--BOTÃO SALVAR ESTADO-->
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarVeiculo()">Salvar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>






